<div class="post">
  <div class="header">
    <h1>Post Title</h1>
    <button routerLink="/" class="btn btn-link">На главную</button>
  </div>
<div class="info">
    <strong>Тут автор</strong>
    <small>14.05.20</small>
</div>
<div>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur praesentium architecto distinctio quaerat officiis veritatis vitae nihil iure, sunt aliquid vel quasi maxime, excepturi vero explicabo veniam fugiat ratione! Provident, suscipit sed corrupti, recusandae ipsa ut officia quos temporibus quasi officiis illo praesentium esse. Mollitia quae doloremque voluptatum omnis nostrum!</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur praesentium architecto distinctio quaerat officiis veritatis vitae nihil iure, sunt aliquid vel quasi maxime, excepturi vero explicabo veniam fugiat ratione! Provident, suscipit sed corrupti, recusandae ipsa ut officia quos temporibus quasi officiis illo praesentium esse. Mollitia quae doloremque voluptatum omnis nostrum!</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur praesentium architecto distinctio quaerat officiis veritatis vitae nihil iure, sunt aliquid vel quasi maxime, excepturi vero explicabo veniam fugiat ratione! Provident, suscipit sed corrupti, recusandae ipsa ut officia quos temporibus quasi officiis illo praesentium esse. Mollitia quae doloremque voluptatum omnis nostrum!</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur praesentium architecto distinctio quaerat officiis veritatis vitae nihil iure, sunt aliquid vel quasi maxime, excepturi vero explicabo veniam fugiat ratione! Provident, suscipit sed corrupti, recusandae ipsa ut officia quos temporibus quasi officiis illo praesentium esse. Mollitia quae doloremque voluptatum omnis nostrum!</p>
</div>
</div>
