<form class="card" [formGroup]="form" (ngSubmit)="submit()">
  <h2>Войти в понель администратора</h2>
  <div
    class="form-control"
    [ngClass]="{
      invalid: form.get('email').touched && form.get('email').invalid
    }"
  >
    <label for="email">Email:</label>
    <input type="email" name="" id="email" formControlName="email" />
    <div
      class="validation"
      *ngIf="form.get('email').touched && form.get('email').invalid"
    >
      <small *ngIf="form.get('email').errors.required">Введите email</small>
      <small *ngIf="form.get('email').errors.email"
        >Email должен быть email</small
      >
    </div>
  </div>
  <div
    class="form-control"
    [ngClass]="{
      invalid: form.get('password').touched && form.get('password').invalid
    }"
  >
    <label for="email">Пороль:</label>
    <input type="password" name="" id="password" formControlName="password" />
    <div
      class="validation"
      *ngIf="form.get('password').touched && form.get('password').invalid"
    >
      <small *ngIf="form.get('password').errors.required">Введите пороль</small>

      <small *ngIf="form.get('password').errors.minlength"
        >Пороль должен быть
        {{ form.get("password").errors.minlength.requiredLength }} сейчас
        введено {{ form.get("password").errors.minlength.actualLength }}</small
      >
    </div>
  </div>
  <button
    type="submit"
    class="btn btn-primary"
    [disabled]="form.invalid || submitted"
  >
    Войти
  </button>
</form>
